*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(96, 62, 160);
}
section{
  
    justify-content: center;
    width: 60%;
    height: 85vh;
    background-color: white;
    margin-inline: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 15px;
}
.container{
   display: flex;
   justify-content: center;

}
.container >img{
    width: 26vw;
    height: 26h;
    margin-top: 3rem;
}
.text{
    padding: 3rem;
    /* position: absolute; */
    /* margin: 1rem; */
    
}
.text >h2{
    padding: 0.3rem;
    font: 1rem;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text >h4{
    text-align: justify;
    font-size: large;
    /* text-transform: lowercase; */

}
.color{
    padding: 10px;
    font-weight: 800;
    font-size: 22px;
}
.buttom{
    height: 2.5rem;
    border-radius: 10rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-image: linear-gradient(to right, rgb(98, 93, 175), rgb(187, 95, 187));
    margin-inline: auto;
    
    
}
.buttom> a {
    text-decoration: none;
    color: white;
}